Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/ParagonBoris/***
Content/FPS_Weapon_Bundle/***
Content/Models/c4/***
Content/Models/dust2/***
Content/Models/ladder/***
Content/Map/Textures/***
Release/***